@using Hk.QrPay.Service.Dto
@model UserDto
@{
    Layout = null;
}
@*<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <!-- Bootstrap CSS -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/js/plugins/multi-select/css/multi-select.css" rel="stylesheet" />
    <style>
        .custom-header {
            text-align: center;
            color: #fff;
        }
    </style>
</head>
<body style="padding-left: 80px; width: 80%">
    <!-- start -->
    <form class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <select id='role-options' multiple='multiple'>
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-info"><i class="fa fa-user"></i>用户角色授权</button>
            </div>
        </div>
    </form>
    <!-- ends -->
    <!-- jQuery -->
    <script src="~/content/js/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/plugins/multi-select/js/jquery.multi-select.js"></script>
    <script type="text/javascript">
        // run pre selected options
        var roles=[];
        var opList="";
        var option= '<option value={Id} selected>{Name}</option>'
        function CreateOption(obj,selected)
        {
            return  '<option value='+obj.Id+' '+selected+'>'+obj.Name+'</option>';
        }

        function opListAddRange(objs,selected){
            for (var i = 0; i < objs.length; i++) {
                opList+=CreateOption(objs[i],selected);
            }
        }
        window.onload=function(){
            //用户已有角色
            $.ajax({
                type: 'get',
                url: '/Adm/User/GetMyRoles?start=0&length=@Int32.MaxValue&keywords=&orderBy=Name&orderDir=asc',
                async:false,
                data: { "moudleId": 0, "menuId": 0, "btnId": 0, "id":@Model.Id },
                success: function (res) {
                    var roles_selected= res.data;
                    opListAddRange(roles_selected,"selected");
                }
            })
            //用户未有角色
            $.ajax({
                type: 'get',
                url: '/Adm/User/GetNotMyRoles?start=0&length=@Int32.MaxValue&keywords=&orderBy=Name&orderDir=asc',
                data: { "moudleId": 0, "menuId": 0, "btnId": 0, "id": @Model.Id},
                async:false,
                success: function (res) {
                    var roles_unselected= res.data;
                    console.log(roles_unselected);
                    opListAddRange(roles_unselected,"");
                }
            })
           
            $("#role-options").html(opList).multiSelect({
                selectableHeader: "<div class='custom-header btn-info'>可用角色</div>",
                selectionHeader: "<div class='custom-header btn-info'>已选角色</div>"
            });
        }

    </script>
</body>

</html>*@

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>双边栏选择框</title>
    <!-- 需要引用的CSS -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link href="~/content/css/doublebox-bootstrap.css" rel="stylesheet" />
    <style>
        .ue-container {
            width: 80%;
            margin: 0 auto;
            margin-top: 3%;
            padding: 20px 40px;
            border: 1px solid #ddd;
            background: #fff;
        }

        .db-btn {
            background-color: #5cb85c;
            border-color: #4cae4c;
            border-radius: 3px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 页面结构 -->
    <div class="ue-container">
        <select multiple="multiple" size="10" name="doublebox" class="demo">
        </select>
        <div style="margin-top:10px;">
            <input type="button" value="设置权限" class="btn btn-primary" id="btnSave" />
        </div>
    </div>
    <!-- 需要引用的JS -->
    <script src="~/content/js/jquery-2.2.4.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/doublebox-bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: 'post'
                , url: '@Url.Action("UserRoleInit")'
                , data: {id:@Model.Id,length:@Int32.MaxValue}
                , success: function (res) {
                    var s=   $('.demo').doublebox({
                        nonSelectedListLabel: '选择角色',
                        selectedListLabel: '授权用户角色',
                        preserveSelectionOnMove: 'moved',
                        moveSelectedLabel: "添加选中角色",
                        moveAllLabel: "角色全选",
                        removeSelectedLabel: "移除选择角色",
                        removeAllLabel: "移除所有",
                        filterPlaceHolder:'查找',
                        moveOnSelect: false,
                        nonSelectedList: res.HasNotRoleList.data,
                        selectedList: res.HasRoleList.data,
                        optionValue: "Id",
                        optionText: "Name",
                        doubleMove: true,
                    });
                }
            });
            
        })
    </script>
</body>
</html>
